@font-face {
  font-family:'Adelle';
  src:url('fonts/adelle.eot') format('embedded-opentype'),
    url('fonts/adelle.woff') format('woff'),
    url('fonts/adelle.ttf') format('truetype'),
    url('fonts/adelle.svg') format('svg')
}

*, *:after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  margin: 0px;
  height: 100%;
}

pre {
  line-height: 1.6;
  background-color: #e6b35a;
  padding: 1em 1em 1em 1em;
  border-left: solid 3px #91643C;
  margin-right: -1em;
  overflow-x: auto;
}

.string {
  color: #91643C;
}

.gold {
  background-color: #F2F4FF;
  padding: .2em;
  margin: none;
  color: #91643C;
  font-family: monospace;
}

.content .quote {
  padding-bottom: 40px;
}

.content blockquote {
  text-align: left;
}

.attrib {
  display: inline-block;
  text-align: right;
  background-color: white;
  max-width: 550px;
}

.filename {
  text-align: right;
  font-size: 14px;
  margin: auto;
  margin-bottom: -4px;
  margin-top: -15px;
}

body {
  text-decoration: none;
  font-family: "Adelle",sans-serif;
  font-style: normal;
  font-weight: 300;
}

body {
  overflow-x: hidden;
}

em {
  font-family: "Adelle",sans-serif;
  font-style: italic;
  font-weight: 500;
}
header, h1 {
  text-align: center;
  font-family: "Adelle", georgia,serif;
  font-style: normal;
  font-weight: 400;
}
h1, h2, h3, h4, h5 {
  margin: 0;
  font-weight: normal;
}
h2 {
  font-family: "Adelle", georgia,serif;
  font-weight: 400;
}
.subtitle {
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: .16em;  
}
.content h2 {
  font-style: normal;
  text-align: center;
}

div, p, blockquote, button {
  margin: 0;
}

#footer .content {
  color: white;
  padding: 20px;
  font-size: 14px;
  overflow: hidden;
}
#footer a { color: #e6b35a; }

blockquote {
  font-family: "Adelle", georgia, serif;
  font-style: italic;
  font-weight: 400;
  font-size: 1.2em;
  line-height: 1.6em;
  padding: 36px;
  border: solid 8px #e6b35a;
  font-style: italic;
}

ul, ol, li { 
  margin: 14px 0;
}

small {
  font-size: .6em;
}

button {
  padding: .2em .5em .2em .6em;
  outline: none;
  box-shadow: none;
  background: none;
  border: 2px solid;
  font-family: "Adelle", georgia, serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: 5px;
}

.trans {
  -webkit-transition: -webkit-transform .3s;
     -moz-transition:    -moz-transform .3s;
          transition:         transform .3s;
}

a {
  color: inherit;
  text-decoration: none;  
}

p a {
  font-weight: inherit;
}

article { overflow: hidden; }

.articles h2 { font-size: 40px; }
.articles section { padding: 50px; }
.articles #middle-section, .articles #bottom-section { padding: 50px 0; }

#install a { color: white;}
#install .code { background-color: white; }

.entry-content a, .content a { color: #91643C;}
.review-section a { color: #e6b35a;}

.entry-content h2 {
  margin: 1em 0 15px;
  padding: 0;
  font-weight: bold;
  line-height: 1.7;
  cursor: text;
  position: relative;
  text-align: left;
}

.entry-content h3 {
  margin: 1em 0 15px;
  padding: 0;
  font-weight: bold;
  line-height: 1.7;
  cursor: text;
  position: relative;
}

/* Color Schemes
============================================================= */

button {
  color: #91643C;
  background-color: #F2F4FF;
  margin-right: 10px;
}

button.transparent {
  background-color: transparent;
}

button:hover, button.transparent:hover {
  border-color: #91643C;
  background-color: #91643C !important;
  color: #F2F4FF;
}

.badge g {
  fill: #6f019e;
}

.color-d {
  color: #e6b35a;
}

.color-a {
  background-color: #F2F4FF;
  color: #91643C;
} 


.color-c {
  background-color: #3c6991;
  color: #F2F4FF;
} 

#top-home-section {
  overflow: auto;
}
#top-home-image {
  width: 200px; height: 150px; 
  background-image: url('images/wizard_hat_blue.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: -25px;
}

h1, h2, h3, p, div { padding: 0 5px; }

#top-title {
  font-size: 50px;
  margin-top: -80px;
  margin-bottom: -10px;
}
#top-subtitle { font-size: 16px; line-height: 24px; max-width: 720px; padding-bottom: 30px; }
.top-button { font-size: 14px; }
h1 { font-size: 30px; }

.community { margin: 20px; }
#bottom-section, .review-section { padding: 30px 0; }
#middle-section h1 { margin-bottom: 15px; padding: 20px 0 10px 0; }
#middle-section h3 { padding: 10px 0; font-size: 25px; text-align: center; }
#bottom-section .code { color: black; }

#who-section {
  background-image: url(images/wizard.png);
  background-repeat: no-repeat;
  background-position: left bottom;
}

#middle-section { padding: 20px 0; }
section { padding: 0 0 30px 0; }

.content {
  font-size: 14px;
  max-width: 450px;
  margin: 0 auto;
  line-height: 20px;
}

.content blockquote {
  background-color: #ebd7c8;
}

pre { font-size: 14px; }
iframe { width: 450px; }

.content p { margin: 15px 0; }

a:hover, button:hover { cursor: pointer; cursor: hand;}

.content iframe {
  margin-bottom: 15px;
  border: 1px solid #ddd;
}

.badge img { width: 200px;}

.content hr {
  margin-bottom: 15px;
}

.title { margin-bottom: 10px; }
.subtitle { margin-bottom: 20px; }


@media only screen and (min-height : 500px) {
  h1 { font-size: 40px; }
  #top-home-image { height: 250px; }
  #top-title { padding-bottom: 15px; font-size: 65px; }
  #top-subtitle { font-size: 20px; line-height: 24px; padding-bottom: 30px; }
  .top-button { font-size: 18px; }
  section { padding: 0 0 70px 0; }
  #bottom-section, .review-section { padding: 60px 0; }
  #middle-section { padding: 30px 0; }
  #middle-section h1 { padding: 35px 0 15px 0; }
  #middle-section h3 { padding: 20px 0; font-size: 30px; }
  pre { font-size: 16px; }
  .content { font-size: 16px; line-height: 24px; max-width: 600px; }
  .content p { margin-top: 25px; }
  .content iframe, .content hr { margin-bottom: 25px; }
  iframe { width: 600px; }
  .title { margin-bottom: 20px; }
  .subtitle { margin-bottom: 30px; }
  .community { margin: 30px; }
  .badge img { width: 300px;}
}

@media only screen and (min-height : 750px) {
  button { border: 5px solid;}
  h1 { font-size: 50px; }
  #top-home-image { height: 350px; width: 300px; }
  #top-title { paddng-bottom: 30px; font-size: 84.5px; }
  #top-subtitle { font-size: 24px; line-height: 36px; padding-bottom: 30px; }
  .top-button { font-size: 22px; }
  section { padding: 0 0 100px 0; }
  #bottom-section, .review-section { padding: 100px 0; }
  #middle-section { padding: 50px 0; }
  #middle-section h1 { padding: 50px 0 20px 0; }
  #middle-section h3 { padding: 30px 0; font-size: 45px; }
  .content { font-size: 20px; line-height: 30px; max-width: 720px; }
  iframe { width: 720px; }
  pre { font-size: 20px; }
  .content p { margin-top: 40px; }
  .content iframe, .content hr { margin-bottom: 40px; }
  .subtitle { margin-bottom: 40px; }
  .community { margin: 40px; }
  .badge img { width: 400px;}
  
}
